body{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}
.banner{
    background-image: url(IMG-9923.JPG);
    text-align: center;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 180px;
    padding-block-end: 150px;
    font-size: x-large;
    font-weight: 100px;
    width: 99.5%;
    background-size: cover;
}
#head{
    width: 40%;
    padding-left: 157px;
}
#font{
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 180px;
    font-size: medium;
    margin-left: 50px;
}
.button{
    text-decoration: none;
    background-color: crimson;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    color: white;
    margin-right: 500px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
#font1{
    font-size: medium;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
.part1{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}
#video{
    margin-top: 53px;
    margin-right: 80px;
    margin-left: 20px;
    border-radius: 8px;
}
.part2{
    display: flex;
    margin-top: 100px;

}
.img{
    margin-left: 100px;

}
.text{
    margin-left: 100px;
}
.text1{
    text-align: center;
    margin-top: 100px;

}
#font2{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.box1{
     display: flex;
     margin-top: 20px;
}
.box2{
    display: flex;
}
.first{
    width: 15%;
    margin-left: 260px;
     margin-right: 10px;
     padding-left: 20px;
     padding-bottom: 20px;
     padding-top: 20px;
     padding-right: 170px;
     margin-top: 10px;
     border-radius: 7px;
     background-color:rgba(236, 205, 210, 0.925);
}
#font3{
    text-align: justify;
    width: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.second{
    width: 15%;
    margin-left: 10px;
    margin-right: 225px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 170px;
    margin-top: 10px;
    border-radius: 7px;
    background-color:rgba(236, 205, 210, 0.925);
}
.pic1{
    display: flex;
    margin-top: 100px;
    
}
#image1{
    width: 25%;
    border-radius: 15px;
    margin-left: 150px;
}
#image2{
    width: 25%;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
#image3{
    width: 25%;
    border-radius: 15px;
}
.hd{
    text-align: center;
    margin-top: 120px;
    height: 50%;
}
#font4{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#font5{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
}
.post-box{
    box-shadow: 2px solid gray;
    border: solid 1px whitesmoke;
    margin-bottom: 100px;
    margin-top: 252px;
    padding-top: 10px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 20px;
    margin-right: 850px;

}
#post{
    border-radius: 10px;
    margin-right: 50px;
    width: 30%;
    height: 60%;
}
.button1{
    color: red;
}
.part3{
    display: flex;
}
.zakat{
    
    border: solid whitesmoke 1px;
    margin-right: 25px;
    margin-left: 30px;
    margin-bottom: 100px;
    text-align: justify;
    padding-bottom: 10px; 
    text-align: center;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 5px;
    padding-block-end: 20px;
}
.part4{
    display: flex;
}
#font6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
footer{
    background-color: black;
    color: red;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
#last-font{
    font-size: x-small;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}