body{
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}
.banner{
    background-image: url(IMG-9923.JPG);
    text-align: center;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 180px;
    padding-block-end: 80px;
    font-size: x-large;
    font-weight: 100px;
    width: 99.5%;
    background-size: cover;
}
#head{
    width: 40%;
    padding-left: 157px;
}
#font{
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 180px;
    font-size: medium;
    margin-left: 50px;
}
.button{
    text-decoration: none;
    background-color: crimson;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    color: white;
    margin-right: 500px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
#font1{
    font-size: medium;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
.part1{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}
#video{
    margin-top: 53px;
    margin-right: 80px;
    margin-left: 20px;
    border-radius: 8px;
}
.part2{
    display: flex;
    margin-top: 100px;

}
.img{
    margin-left: 100px;

}
.text{
    margin-left: 100px;
}
.text1{
    text-align: center;
    margin-top: 100px;

}
#font2{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.box1{
     display: flex;
     margin-top: 20px;
}
.box2{
    display: flex;
}
.first{
    width: 15%;
    margin-left: 260px;
     margin-right: 10px;
     padding-left: 20px;
     padding-bottom: 20px;
     padding-top: 20px;
     padding-right: 170px;
     margin-top: 10px;
     border-radius: 7px;
     background-color:rgba(236, 205, 210, 0.925);
}
#font3{
    text-align: justify;
    width: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.second{
    width: 15%;
    margin-left: 10px;
    margin-right: 225px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 170px;
    margin-top: 10px;
    border-radius: 7px;
    background-color:rgba(236, 205, 210, 0.925);
}